@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
body{
    font-family: 'Roboto', sans-serif;
    background: #F5F5F5;
}


.todos{
    display: block;
    min-width: 500px;
    width: 40px;
    
    margin-left: auto;
    margin-right: auto;
}

.todos__header{
    margin: 0px;
    font-size: 48px;
    text-align: center;
    font-weight: lighter;
    color: #EBDFDF; 
}
.todos__main{
    position: relative;
    box-shadow: 0 1px 4px rgba(0,0,0,0.5);
    background: #FFFFFF;
}
.todos__main::before{
    position: absolute;
    height: 4px;
    content: ' ';
    width: 498px;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 365px;
    z-index: -1;
    background: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

.todos__main::after{
    position: absolute;
    height: 4px;
    content: ' ';
    width: 496px;
    margin-top: 4px;
    margin-left: 2px;
    margin-right: 2px;
    z-index: -2;
    background: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}
