.todos__add{
    display: flex;
    padding: 2%;
    border-bottom: solid 1px #F5F5F5;
    
}

.todos__show{
    border: none;
    padding: 10px;
    margin: 4px;
    background: url("list.svg") no-repeat ;
}
.todos__show:focus{
    outline: none;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
}
.todos__add-input{
    border: 0px;
    outline: none;
    flex-grow: 1;
    font-style: italic;
    color: darkgrey;
    font-size: 16px;
}
.todos__add-input:focus{
    background: #FFFFFF;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
}
